# Gradle cache
.gradle/
build/
.gradle

# Android Studio
.idea/
*.iml

# Local SDK config
local.properties

# Build outputs
app/build/

#desain apps image
.desain_porto_v1.5.0

# OS files
.DS_Store
Thumbs.dbdesain_porto_v1.5.0/
